<header class="profile-header">
  <img 
    class="profile-picture"
    [src]="'http://localhost:3000/proxy/image?url=' + encodeURIComponent(profile().profilePicUrl)" 
    [alt]="profile().username"
  />
  
  <section class="profile-info">
    <div class="username-row">
      <h1 class="username">{{ profile().username }}</h1>
    </div>
    
    <app-profile-stats 
      [posts]="profile().posts"
      [followers]="profile().followers"
      [following]="profile().following"
    />
    
    <app-profile-bio 
      [fullName]="profile().fullName"
      [bio]="profile().bio"
    />
  </section>
</header>
